@model OnlineCateringProject.Models.CustomerInvoice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <h4>CustomerInvoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNoNavigation.OrderNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InvoiceNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
